*
{
	margin: 0px;
	padding: 0px;
}
body
{
	font-size: 16px;
	
}


/*Header */


.navbar-default {
  margin-top: 0px;
  background: #000;
color: #fff;
}

.navbar-brand a:hover
{
	text-decoration: none;
}
.navbar-toggle
{
    margin: 10px;
}

.navbar .nav > li > a {
    
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
    font-size: 15px;
    padding-left: 10px;
    text-decoration: none;
	background-color: #000;
	color: #fff;
  }

.menu
{
  
   padding-bottom: 0px;
   padding-top: 40px;
   
}
.menu .container .row div section
{
	background-color: grey;
	padding: 10px;
	margin: 10px;

}


	

section h1
{
	color: #000;
}

section h3
{
	color: #000;
}


